html {
    background-color: rgb(139, 152, 248);
}

  
.page{
   
    background-color: aliceblue;

}
.headder {
    text-align: center;
    text-decoration: underline;
}

table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: yellowgreen;
}

th {
    padding: 5px;
    border: 2px solid black;
}

td {
    padding: 5px;
    border: 1.5px solid black;
}

.tl {
    text-align: left;
}
footer{
    margin: 50px;
}